<!-- container wrapper -->
<div class="container my-5" *ngIf="loading">
  <!-- html for displaying single post title, image, body, creator, lastupdated -->
  <div class="single-post" *ngIf="!toggleForm">
    <header class="d-flex justify-content-between">
      <h4>{{ post.post.title }}</h4>
      <div *ngIf="post.post.creator === name">
        <button
          class="btn btn-danger d-inline"
          (click)="deletePost(post.post._id)"
        >
          delete post
        </button>
        <button
          class="btn btn-info d-inline mx-2"
          (click)="toggleEditPostForm()"
        >
          edit post
        </button>
      </div>
    </header>
    <img [src]="post.post.image" [alt]="post.post.title" />
    <p class="lead text-justify">{{ post.post.body }}</p>
    <div class="d-flex justify-content-between bg-secondary text-light p-4">
      <small><strong>created by:</strong> {{ post.post.creator }}</small>
      <small *ngIf="post.post.lastUpdated"
        ><strong>post last updated:</strong>
        {{ post.post.lastUpdated | date: 'medium' }}</small
      >
    </div>
  </div>
  <!-- form container -->
  <div class="form-container" *ngIf="toggleForm">
    <!-- form for updating single post -->
    <form
      [formGroup]="theForm"
      enctype="multipart/form-data"
      (ngSubmit)="onSubmit($event, post.post)"
      novalidate
    >
      <div class="form-row">
        <div class="form-group col-sm-12 col-md-6">
          <label for="title">title</label>
          <!-- title input -->
          <input
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="give a title to your post"
          />
          <!-- validation for title input -->
          <div
            class="invalid-feedback d-block"
            *ngIf="f.title.dirty && f.title.errors"
          >
            <small *ngIf="f.title.errors.required">a title is required</small>
            <small *ngIf="f.title.errors.maxlength">30 characters max</small>
          </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <div *ngIf="showButton">
            <span>&nbsp;</span>
            <button
              class="btn btn-primary btn-block my-2"
              (click)="showReplaceImageInput()"
            >
              replace image
            </button>
          </div>
          <div *ngIf="!showButton">
            <label for="image">image</label>
            <!-- file input -->
            <input
              type="file"
              class="form-control"
              (change)="onFileChange($event)"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="body">body</label>
          <!-- body textarea -->
          <textarea
            rows="4"
            cols="50"
            class="form-control"
            formControlName="body"
            placeholder="give your post a body"
          ></textarea>
          <!-- validation for body textarea-->
          <div
            class="invalid-feedback d-block"
            *ngIf="f.body.dirty && f.body.errors"
          >
            <small *ngIf="f.body.errors.required">a body is required</small>
            <small *ngIf="f.body.errors.minlength"
              >title must be at least 50 characters short</small
            >
          </div>
        </div>
        <div class="form-group col-sm-12 edit-buttons">
          <!-- submit input, if form not valid disable button -->
          <input
            type="submit"
            value="Upload Post Please"
            class="btn btn-primary"
            [disabled]="!theForm.valid"
          />
          <!-- cancel updating post -->
          <button class="btn btn-warning mx-2" (click)="toggleEditPostForm()">
            cancel update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
