.post-form {
  .form-group {
    input[type="submit"], button {
      @media screen and (max-width: 767px) {
        width: 100%;
        margin: 0 !important;
      }
    }
  }
}

.card {
  width: 20rem;
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
